@using PagedList.Mvc;
@model PagedList.IPagedList<StoreComputer.Models.KhachHang>

@{
    ViewBag.Title = "Danh sách khách hàng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">Quản Lý Thông Tin Khách Hàng</h2>



<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                <h6 class="m-0 font-weight-bold text-primary">
                </h6>
                <form action="~/Admin/timkiemKH" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="type" class="form-control bg-light border-0 small" placeholder="Tìm kiếm..." required
                               name="SearchString" aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Mã khách hàng</th>
                            <th>Tên khách hàng</th>
                            <th>Số điện thoại</th>
                            <th>Địa chỉ</th>
                            <th>Tài khoản</th>
                            <th>Mật khẩu</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tbody>
                            <tr>
                                <td>@item.maKH</td>
                                <td>@item.tenKH</td>
                                <td>@item.soDienThoai</td>
                                <td>@item.diaChi</td>
                                <td>@item.taiKhoan</td>
                                <td>@item.matKhau</td>
                                <td>@item.Email</td>
                                <td>
                                    <h6 class="m-0 font-weight-bold text-primary">
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <a href="~/Admin/xoaKhachHang?id=@item.maKH" class="btn btn-danger"> <i class="fas fa-trash"></i> </a>
                                            </div>
                                    </h6>
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <br />
    <div style="text-align:center;">
        @Html.PagedListPager(Model, page => Url.Action("DanhSachKhachHang", new { page = page }))
    </div>
</div>
