
@model List<StoreComputer.Models.DatHang>

@{
    ViewBag.Title = "Danh sách doanh thu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">Thống kê doanh thu</h2>



<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                <h6 class="m-0 font-weight-bold text-primary">
                </h6>
                <form action="~/Admin/timKiemDoanhThu" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="type" class="form-control bg-light border-0 small" placeholder="Tìm kiếm theo tháng" min="1" max="12" required
                               name="searchMonth" aria-label="Search" aria-describedby="basic-addon2">
                        <input type="type" class="form-control bg-light border-0 small" placeholder="Tìm kiếm theo năm" required
                               name="searchYear" aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Tháng</th>
                            <th>Tổng tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tháng 2/2023</td>
                            <td>@ViewBag.TongDoanhThuT2</td>
                        </tr>
                        <tr>
                            <td>Tháng 3/2023</td>
                            <td>@ViewBag.TongDoanhThuT3</td>
                        </tr>
                        <tr>
                            <td>Tháng 4/2023</td>
                            <td>@ViewBag.TongDoanhThuT4</td>
                        </tr>
                        <tr>
                            <td>Tháng 5/2023</td>
                            <td>@ViewBag.TongDoanhThuT5</td>
                        </tr>
                        <tr>
                            <td>Tháng 6/2023</td>
                            <td>@ViewBag.TongDoanhThuT6</td>
                        </tr>
                        <tr>
                            <td>Tháng 7/2023</td>
                            <td>@ViewBag.TongDoanhThuT7</td>
                        </tr>
                        <tr>
                            <td>Tháng 12/2023</td>
                            <td>@ViewBag.TongDoanhThuT12</td>
                        </tr>
                    </tbody>
                </table>
                </table>
            </div>
        </div>
    </div>
</div>
