@model StoreComputer.Models.DatHang
@{
    ViewBag.Title = "Thanh Toán";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    string tenKhachHang = Session["tenKhachHang"] as string;
    string diaChi = Session["diaChi"] as string;
    string sdtKhachHang = Session["soDienThoai"] as string;
}

<div style="height:753px">
    <div class="row">
        <div class="col-md-12">
            <h1 style="text-align:center;padding-top:15px;font-weight:bolder;text-transform:uppercase;padding-right:200px"> Thanh Toán</h1>
        </div>
    </div>

    <div class="row" style="margin-top: 15px; margin-left: 18rem; width: 1000px;padding-right: 100px">
        <div class="col-md-7">
            @using (Ajax.BeginForm("thanhToan", "ShoppingCart", new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "load_data"
            }))
            {
                @Html.AntiForgeryToken()
                <h3 style="font-weight:bold;text-transform:uppercase;text-align:center">Thông tin khách hàng</h3>
                <div class="form-group">
                    <label style="font-weight:bold">Họ tên khách hàng</label>
                    <input type="text" name="tenKhachHang" value="@tenKhachHang" class="form-control" />
                </div>
                <div class="form-group">
                    <label style="font-weight:bold">Số điện thoại khách hàng</label>
                    <input type="text" name="sdtKhachHang" value="@sdtKhachHang" class="form-control" />
                </div>
                <div class="form-group">
                    <label style="font-weight:bold">Địa chỉ giao hàng</label>
                    <input type="text" name="diaChi" value="@diaChi" class="form-control" />
                </div>
                <div class="form-group">
                    <label style="font-weight:bold">Ghi chú</label>
                    <input type="text" name="ghiChu" class="form-control" style="height:100px" />
                </div>
                <div class="form-group">
                    <label style="font-weight:bold">Hình thức thanh toán</label>
                    <select class="form-control" name="ptThanhToan" onchange="location = this.value">
                        <option value="COD" selected>COD</option>
                        <option value="/shoppingcart/PaymentWithPayPal">Thanh toán bằng PayPal</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" name="thanhToan" class="btn btn-block btn-success" style="text-transform:uppercase;font-weight:bold">Đặt hàng</button>
                </div>
            }
        </div>
        <div class="col-md-5" style="padding-left:46px">
            @Html.Action("partial_item_thanhToan", "ShoppingCart")
        </div>
    </div>
</div>
